body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* "data-theme" is the attribute which is set to light or dark */

:root {
  --font-color: white;
  --background-color: #1c1c1e;
  --border-color: silver;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 1rem 6rem;
}

/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  background-color: var(--background-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link-item {
}

.navbar-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #007bff;
}

.navbar-icons {
  display: flex;
  /* align-items: center; */
  gap: 1.5rem;
}

.navbar-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--font-color);
}

.navbar-cart-wrapper {
  position: relative;
}

.navbar-cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: var(--font-color);
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }

  .navbar-icons {
    align-self: flex-end;
  }
}

/* HeroSection.css */
.hero-section {
  border: 2px solid var(--border-color);
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  min-height: 600px;
}

.hero-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero-text {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  font-size: 1rem;
  color: var(--font-color);
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-image-wrapper {
  flex: 1;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-image {
    height: 200px;
  }

  .hero-section {
    height: auto;
  }
}

/* *********************  */
/* LatestCollection.css */

.latest-collection-section {
  padding: 3rem 2rem;
  text-align: center;
}

.latest-collection-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.latest-collection-description {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  font-size: 1rem;
  color: var(--font-color);
}

.latest-collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
}

.collection-card {
}

.collection-card-image {
  width: 100%;
  height: auto;
  display: block;
}

.collection-card-name {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--font-color);
  text-align: left;
}

.collection-card-price {
  margin-top: 0.1rem;
  font-size: 0.85rem;
  color: var(--font-color);
  text-align: left;
}
